services:
  - type: web
    name: landing-admin-backend
    env: node
    region: oregon
    plan: free
    repo: https://github.com/vardhalinks/e.landing-admin-panel.git
    branch: main
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: VITE_ADMIN_API_KEY
        sync: false
    healthCheckPath: /
    instanceType: "starter"
